*{
    font-family: 'Maven Pro', sans-serif;

}

.carrito-section{
    margin-top: 30px;;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_item{

    width: 80%;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border: 1px solid black;

}

.product_title{
    width: 40%;
    padding-left: 50px;
    font-size: 30px;

}

.product_price{
    margin-top: 4px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.product_price input{
    height: 25px;
    width: 30px
}


.product_img img{
    width: 100%;
}

.product_img{
    width: 20%;
}

.total_div{
    width: 70%;
    font-size: 40px;
    text-align: center;

}
.buy_button{
    margin-top: 10px;
    height: 40px;
    font-size: 30px;

    background-color:#ffd600;
    border: none;
    color:black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

@media (max-width: 582px){

    .cart_item{
        flex-direction: column;
    }

    .product_title{ 
        width: 90%;
        padding-left: 0px;
        text-align: center;
    }

    .product_price{
    flex-direction: column;
    justify-content: unset;
    text-align: center;
    width: 100%;
    }
    .product_price input{
        height: 20px;
        width: 20px
    }
}
