*{
    font-family: 'Maven Pro', sans-serif;


}

body{ 
    height:100vh; margin:0;
    display:flex; 
    flex-direction:column; 

}

.main-section-login{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.login-section{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;

    min-width:40% ;
    background-color:black;

    border-radius: 10px;
    border: 1px solid black;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

.login-title{
    width: 450px;
    display: flex;
    flex-direction: column;
}

.login-picture{
    text-align: center;
}

.login-picture img{
    width: 50px;
}

.login-title p{
    padding: 0px;
    text-align: center;
    font-size: 25px;
    color:white;
    margin: 0px;
    margin-bottom: 15px;
}


.input-fields{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.input-fields a{
    text-decoration: none;
    color: white;
    margin-top: 7px;

}

.input-decoration{
    height: 37px;
    width: 90%;
    border: none;
    margin-bottom: 5px;
    border-radius: 3px;
}

.submit-button{
    transition: all 0.3s ease 0s;
    margin-top: 15px;
	background-color: #ffd600;
	border-radius: 10em;
	border: none;
	padding: 20px 40px;
	font-size: 18pt;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	outline: none;
	}
    .submit-button:hover {
	background-color:#ffd600;
	box-shadow: 0px 15px 20px rgba(121, 121, 121, 0.4);
	color:black;
	transform: translateX(-7px);
  }


.main-footer{

    margin-top:auto; 
}





@media (max-width: 500px){
    .login-section{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }

    .login-section h1{
        margin-right: 0px;
    }

    .input-fields{
        width: 100%;
    }
}