
body{
    font-family: 'Maven Pro', sans-serif;
}
.main-header{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 150px;
    padding: 20px;
}
h1.lema{
    color: white;
}
.link{
    text-decoration: none;
    font-size: medium;
    color: white;
    padding: 10px;
}
.main-nav{
    align-self: flex-end; 
    margin-bottom: 10px;
}

@media(max-width:640px){
    h1.lema{
        font-size: medium;
    }
}