 <!-- header -->
 <header class="main-header">
    <a href="/" class="pagina__inicio">
        <img src="\img\logoFOD.png" alt="logo" class= "logo">
    </a>      
    <h1 class="lema">Facilitamos el intercambio de arte digital</h1>      
    <!--<a href="/products" class= "archivos" id="todosArchivos"><i class='archivos'></i> Todos los archivos</a>-->
    <nav class="main-nav">
        <a href="/products" style="color: yellow; font-weight: bold;" class= "link" ><i class='archivos'></i>ARCHIVOS</a>
        <a href="/users/register" class= "link"><i class='fas fa-plus-circle'></i> CREAR CUENTA</a>
        <a href="/users/login" class= "link"><i class='fas fa-user-circle'></i> INICIAR SESIÓN</a>
        <a href="/cart"class="link"><i class='fas fa-shopping-cart'></i></a>
    </nav>
</header>
<!--fin del header -->