*{
    font-family: 'Maven Pro', sans-serif;
}

body{ 
    margin:0;
    display:flex; 
    flex-direction:column; 
}

a {
    text-decoration: none;
    color: black;
}

h1  {
    text-align: center;
}

.grid-container{
    width: calc(100% - 2*margin);
    display: grid;
    gap: 16px;
    margin: 16px;
}

.grid-container article{
    border: 1px solid black;
    padding: 16px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.imgproduct {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media (min-width:640px){
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:1024px){
    .grid-container{
        margin: 20px;
        grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width:1360px){
    .grid-container{
        grid-template-columns: repeat(4,1fr);
    }
}