<!DOCTYPE html>
<html lang="en">
    <!-- head general -->
    <%- include('partials/head', {title: 'FOD'}) %>

    <!-- link css -->
    <link rel="stylesheet" href="\styles\styleindex.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <div class="container">
        <!-- header -->
        <%- include('partials/header') %>
        <!--fin del header -->

    <section class="busquedas">
        <form class="barras">        
            <input type="search" placeholder="Busca canciones, sonidos o efectos">
        </form>	
        <form class="barras">
            <input class="imagenes" type="search" placeholder="Busca imagenes, caricaturas o fotografias">
        </form>	
        <form class="barras">
            <input class="escritura" type="search" placeholder="Busca libros, articulos o frases">
        </form>	
        <form class="barras">
            <input class="disenio" type="search" placeholder="Busca 3D, planos o maquetas">
        </form>	
    </section>
    <h3 class= destacados>Archivos Destacados</h3>
    <section class= "productos__destacados">
        <article class= "productos">
            <a href="products/detail/100">
            <img src="/img/produaudio.png" alt="audio" class= "produ__img">
            <h4>Cancion Rock</h4>
            <h5>$300</h5>
            </a>
        </article>
        <article class= "productos">
            <a href="products/detail/101">
            <img src="/img/produimagen.png" alt="imagen" class= "produ__img">
            <h4>Poster Sunset</h4>
            <h5>$150</h5>
            </a>
        </article>
        <article class= "productos">
            <a href="products/detail/102">
            <img src="/img/produlibro.png" alt="texto" class= "produ__img">
            <h4>Libro Ballenas</h4>
            <h5>$450</h5>
            </a>
        </article>
        <article class= "productos">
            <a href="products/detail/103">
            <img src="/img/produdiseño.png" alt="diseño" class= "produ__img">
            <h4>3D Star Wars</h4>
            <h5>$120</h5>
            </a>
        </article>
        </section>
        <section class= "busca__categorias">
            <a href="" class="carpetas__categorias">AUDIO
            </a>
            <a href="" class="carpetas__categorias">IMAGEN
            </a>
            <a href="" class="carpetas__categorias">ESCRITURA
            </a>
            <a href="" class="carpetas__categorias">DISEÑO
            </a>
        </section>
        <section class="publicar__arch">
        <h3 class= destacados>Donde el arte digital tiene valor</h3>
        <a href="products/create">
            <button class="publicar">Publicar</button>
        </a> 
        </section>  
        <!-- footer -->    
        <%- include('partials/footer') %>
        <!-- fin del footer -->  
    </div>                
    </body>
</html>